#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.card-head {
	font-size: 2rem; /* フォントサイズを大きく */
	font-weight: bold; /* 太字にして強調 */
	color: #007bff; /* 色を青にして目立たせる（任意） */
	text-align: center; /* 中央揃え */
	padding: 10px 0; /* 上下に余白を追加 */
	margin-bottom: 1rem; /* 下に余白を追加 */
	border-bottom: 2px solid #ccc; /* 下にボーダーを追加して強調 */
}
